*.suo
*.dbmdl
media/DatabaseToPublish/bin/Debug/MyTestDB1.deploy.publish.xml
media/DatabaseToPublish/bin/Debug/MyTestDB2.deploy.publish.xml
media/DatabaseToPublish/bin/Debug/MyTestDB3.deploy.publish.xml
media/DatabaseToPublish/bin/Debug/MyTestDB4.deploy.publish.xml
media/DatabaseToPublish/bin/Debug/MyTestDB5.deploy.publish.xml
media/DatabaseToPublish/bin/Debug/MyTestDB6.deploy.publish.xml
media/DatabaseToPublish/bin/Debug/MyTestDB7.deploy.publish.xml
media/DatabaseToPublish/bin/Debug/MyTestDB8.deploy.publish.xml
media/DatabaseToPublish/obj/Debug/DatabaseToPublish.sqlproj.FileListAbsolute.txt
media/DatabaseToPublish/bin/Debug/MyTestDB02.deploy.publish.xml
media/DatabaseToPublish/bin/Debug/MyTestDB03.deploy.publish.xml
media/DatabaseToPublish/bin/Debug/MyTestDB04.deploy.publish.xml
media/DatabaseToPublish/bin/Debug/MyTestDB05.deploy.publish.xml
media/DatabaseToPublish/bin/Debug/MyTestDB06.deploy.publish.xml
media/DatabaseToPublish/bin/Debug/MyTestDB07.deploy.publish.xml
media/DatabaseToPublish/bin/Debug/MyTestDB08.deploy.publish.xml
media/DatabaseToPublish/bin/Debug/MyTestDB09.deploy.publish.xml
media/DatabaseToPublish/bin/Debug/MyTestDB10.deploy.publish.xml
media/DatabaseToPublish/bin/Debug/MyTestDB11.deploy.publish.xml
